
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:bisque;
}
#banner{
    color:black;
                background-color:brown;
                height: 50px;
                margin-top: 40px;
                padding: 20px;
                font: 15;
                border: solid 2px black;
                border-radius: 10px 10px 10px 10px;

}
#menü{
    margin :20px;
    background-color: burlywood;
    padding: 20px;
    width: 200px;
    height: 850px;
    float: left;
    font:15;
    border: solid 2px black;
    font-size: 25;
    border-radius: 10px 10px 10px 10px;
}
#icerik{
    margin :20px;
    background-color:burlywood;
    padding: 20px;
    width: 1800px;
    height: 850px;
    font-size: 50;
    border: solid 2px black;
    border-radius: 10px 10px 10px 10px;
}
#menü li{
    list-style-type: none;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
#menü  li a:hover{
    color:blue;
}
a{
    color: black;
}
